$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-14: 14px;
$border-radius-16: 16px;
$border-radius-18: 18px;
$border-radius-20: 20px;
$border-radius-22: 22px;
$border-radius-24: 24px;
