// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

// Font Families
// $font-family-vag-rounded-next: 'VAG Rounded Next', sans-serif;

// @font-face {
// 	font-family: $font-family-vag-rounded-next;
// 	src: url('/public/fonts/vag-rounded-next-light.ttf');
// 	font-weight: $font-weight-light;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: $font-family-vag-rounded-next;
// 	src: url('/public/fonts/vag-rounded-next-regular.ttf');
// 	font-weight: $font-weight-regular;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: $font-family-vag-rounded-next;
// 	src: url('/public/fonts/vag-rounded-next-medium.ttf');
// 	font-weight: $font-weight-medium;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: $font-family-vag-rounded-next;
// 	src: url('/public/fonts/vag-rounded-next-semibold.ttf');
// 	font-weight: $font-weight-semiBold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: $font-family-vag-rounded-next;
// 	src: url('/public/fonts/vag-rounded-next-bold.ttf');
// 	font-weight: $font-weight-bold;
// 	font-style: normal;
// }

// Font Sizes
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-44: 44px;

// Line Height
$line-height-xs: 1;
$line-height-s: 1.25;
$line-height-base: 1.35;
$line-height-m: 1.45;
